
<div class="card-trip border">
  <%= cl_image_tag bar.photos[0].key %>
  <div class="card-trip-infos">
    <div>
      <h3 class="mb-2"><%= bar.name %></h3>
      <p class="ct-text-light"><%= bar.venue_type %> / <%= bar.category %></p>
      <p><%= bar.address %></p>
    </div>
    <h5 class="card-trip-pricing"><%= bar.price_segment %></h5>
  </div>
</div>
