<div class="card-dashboard rounded mt-2 mb-4">
  <div class="pic-summ">

    <% if venue.photos.attached? %>
      <%= cl_image_tag venue.photos[0].key %>
    <% else %>
      <%= cl_image_tag("standard_jiqx6k") %>
      <% end %>
  </div>
  <div class="card-description-summary">
    <h3><%= venue.name %></h3>
    <p class="summ-cards"><%= venue.opening_hours %> </p>
      <% if night.venues.length >= 2 && venue.venue_type == 'club' %>
        <% bar = night.venues.where(venue_type: "bar").last%>
        <% club = night.venues.where(venue_type: "club").first%>
        <p class= "summ-cards"><em><strong><%= bar.distance_to(club).round(1)%>km </strong></em> from <%= bar.name %> </p>
      <% end %>
    <%= link_to 'Remove', venue_delete_night_venue_night_path(night,venue) %>
  </div>
</div>



