<div class="card-trip rounded">
  <%= cl_image_tag venue.photos[0].key %>
  <div class="card-trip-infos">
    <div>
      <h3 class="mb-2"><%= venue.name %></h3>
      <p class="ct-text-light"><%= venue.venue_type %> / <%= venue.category %></p>
      <p><%= venue.address %></p>
    </div>
    <h5 class="card-trip-pricing"><%= venue.price_segment %></h5>
  </div>
</div>
