<div class="card-dashboard rounded">
  <div class="pic">
    <% if venue.photos.attached? %>
      <%= cl_image_tag venue.photos[0].key %>
    <% else %>
      <%= cl_image_tag("standard_jiqx6k") %>
      <% end %>
  </div>
  <div class="card-description">
    <h3><%= venue.name %></h3>
    <p class="ct-text-dark-medium"><%= venue.price_segment %> <span> &bull;</span> <%= venue.venue_type %> &bull; <%= venue.category %> </p>
  </div>
</div>
