<div class="card-dashboard rounded mt-3">
  <div class="pic-summ">
    <% if venue.photos.attached? %>
      <%= cl_image_tag venue.photos[0].key %>
    <% else %>
      <%= cl_image_tag("standard_jiqx6k") %>
      <% end %>
  </div>
  <div class="card-description-summary">
    <p class="ct-bold "><%= venue.name %></p>
    <p class="ct-text-12 pt-2 ct-text-dark-medium ct-flex-none"><%= venue.opening_hours %> </p>
      <% if night.venues.length >= 2 && venue.venue_type == 'club' %>
        <% bar = night.venues.where(venue_type: "bar").last%>
        <% club = night.venues.where(venue_type: "club").first%>
        <p class= "ct-text-12 "><strong><%= bar.distance_to(club).round(1)%> km. </strong> from <%= bar.name %> </p>
      <% end %>

      <p class="ct-remove-btn"><%= link_to 'Remove', venue_delete_night_venue_night_path(night,venue) %></p>


  </div>
</div>


