<div class="mt-4 mb-4">
  <p id="user-location">current location</p>
  <p id="demo" style="display: none;"></p>
  <%= simple_form_for @night, method: :post do |f| %>
    <%= f.input :location, label: 'Choose a city', input_html: { id: :venue_location } %>
    <%= f.input :category, label: 'Tell us your style' , collection: [ "retro", "modern", "all" ] %>

  <div class="">
    <%= f.input :budget, label: 'Select your budget', as: :radio_buttons, collection:
    ['Broke', 'Modest', 'Rich'] , class: "radio_buttons", collection_wrapper_tag: :div, collection_wrapper_class: 'd-flex justify-content-between' %>
  </div>

    <%= f.button :submit, 'PLAN YOUR NIGHT!', class: "search-button btn btn-outline-light mt-4 w-100 "%>
  <% end %>
</div>



