<p class="first-p font-page">Discover the best
 places to enjoy your
night.</p>
<span id="banner-typed-text"></span>
<br><br><br><br>
<div class=" mt-5 font-page">
  <div class="d-flex justify-content-start">
    <div class="col-12 col-md-8 col-lg-5 search-form mt-5">
      <%= simple_form_for @night, method: :post do |f| %>
    <p id="user-location">current location</p>
    <p id="demo" style="display: none;"></p>

        <%= f.input :location, input_html: { id: :venue_location } %>
        <%= f.input :category, label: 'WHAT IS YOUR STYLE?' , collection: [ "retro", "modern", "all" ] %>

        <%= f.input :budget, label: 'YOUR BUDGET', as: :radio_buttons, collection: ['Broke', 'Reasonable', 'Rich'] , class: "radio_buttons", collection_wrapper_tag: :div, collection_wrapper_class: 'd-flex' %>
        <br><br><br>
        <%= f.button :submit, 'PLAN YOUR NIGHT!', class:"form-control btn btn-outline-light w-100 mt-3 search-button"%>
      <% end %>
    </div>
  </div>
</div>

