<div class="mb-4">
  <p id="user-location" class="mb-3"><i class="fas fa-map-marker-alt pr-2"></i>Share your current location</p>
  <p id="demo" style="display: none;"></p>
  <%= simple_form_for @night, method: :post, id: "my-form" do |f| %>
    <%= f.input :location, label: 'Choose a city', input_html: { id: :venue_location, class: "ct-label-text" } %>
    <%= f.input :category, label: 'Tell us your style' , collection: [ "Retro", "Modern", "All" ] %>

  <div class="">
    <%= f.input :budget, label: 'Select your budget', as: :radio_buttons, collection:
    ['Broke', 'Modest', 'Rich'] , class: "radio_buttons", collection_wrapper_tag: :div, collection_wrapper_class: 'd-flex justify-content-between' %>
  </div>

    <%= f.button :submit, 'PLAN YOUR NIGHT!', class: "btn btn-primary ct-btn ct-round-50 w-100 mt-3 ct-shadow"%>
  <% end %>
</div>



