<nav class="navbar navbar-expand-lg navbar-dark bg-dark pr-0 py-2 fixed-top ct-opacity-90 ct-shadow">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <a class="navbar-brand" href="#"> <%= render 'components/logo' %> </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><!-- <i class="fas fa-bars fa-lg ct-text-light"></i>  --></span>

  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">

      <% if user_signed_in? %>

        <li> <%= link_to 'Profile' , user_path(current_user), class:"ct-nav-item" %> </li>
        <li> <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "ct-nav-item" %> </li>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>

    </div>
  </div>
</nav>






<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Plan Your Night" , root_path, class:"navbar-brand" %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= link_to 'Profile' , user_path(current_user), class:"dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
