<div class="nav-wrapper fixed-top ct-shadow-navbar bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark  py-2 fixed-top  ">

    <!-- LOGO SVG FORMAT -->
    <a class="navbar-brand" href="<%= root_path%>"> <%= render 'components/logo' %> </a>
    <!-- HAMBURGER ICON -->
    <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto ">
        <% if user_signed_in? %>
          <li class="pt-5 pb-5 text-center ct-mt-big-xl"> <%= link_to 'My Profile' , user_path(current_user), class:"ct-nav-item" %> </li>
          <li class="pb-5 text-center"> <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "ct-nav-item" %> </li>
        <% else %>
          <li class="pt-5 pb-5 text-center ct-mt-big-xl"> <%= link_to "Log in", new_user_session_path, class: "ct-nav-item" %> </li>
          <li class="pb-5 text-center"> <%= link_to "Sign up", new_user_registration_path, class: "ct-nav-item" %> </li>
        <% end %>
      </ul>
    </div>

  </nav>
</div>
