<% @reviews.each do |review| %>

  <div class="d-flex align-items-center border-top pt-4 mt-3">
    <!-- User Pic -->
    <div class="">
      <% if review.user.photo.attached? %>
          <%= cl_image_tag review.user.photo.key, class: "user-pic" %>
      <% else %>
        <%= cl_image_tag ("empty-avatar_fjtvit"), class: "user-pic"%>
      <% end %>
    </div>
    <div class="pl-3 text-light">
      <p> <%= review.user.first_name %> <%= review.user.last_name %>  </p>
      <!-- div stars -->
      <div>
      <% review.rating.times do %>
        <i class="fas fa-star star-color"></i>
      <% end %>
      <% review.blank_stars.times do %>
        <i class="far fa-star star-color"></i>
      <% end %>
      </div>
    </div>
  </div>
  <!-- Review content -->
  <div class="review-content mt-3 px-4 py-3 mb-4">
    <p> <%= review.content %> </p>
  </div>

<% end %>



