<h2 class="text-light mb-2  ct-capitalize"><%= @venue.name.capitalize %></h2>
<!-- Bar Name-->
<span class="ct-chip"><%= @venue.spend %></span>
<!-- Stars Rating -->
<div class="d-flex align-items-baseline">
  <div class="d-flex star-color ct-chip">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i> <p class="ml-2"> <%= link_to(@venue.venue_reviews.length, :anchor => "my-reviews-anchor") %> </p>
  </div>
  <!-- Venue & Style -->
  <p class="ct-chip ct-capitalize"><%= @venue.venue_type %> &#8226; <%= @venue.category  %></p>
</div>
<!-- Address -->
<div class="d-flex align-items-center">
  <div class="ct-chip">
    <i class="fas fa-map-marker-alt text-primary" id="marker"></i>
    <p class="pl-1 ct-text-14"> <%= link_to(@venue.address, :anchor => "my-map-anchor") %> </p>
  </div>
</div>
<!-- Opening Hours -->
<div class="d-flex align-items-center mt-3" id="info">
  <div class="ct-chip">
    <p class="ct-text-dark-medium ">Opening Hours</p>
    <p class="pl-1"><%= @venue.opening_hours %></p>
  </div>
</div>
<!-- Card Payment-->
<div class="d-flex align-items-center">
  <% if @venue.card_accepted %>
    <div class="ct-chip"  id="true">
      <p class="light">Card Payment</p>
      <i class="far fa-check-circle card-indicate light pl-2"></i>
    </div>
  <% else %>
    <div class="ct-chip"  id="false">
      <p class="light">Card Payment</p>
      <i class="far fa-times-circle card-indicate light pl-2"></i>
    </div>
  <% end %>
</div>

<br>

<% users = Venue.find_by(name: @venue.name) %>
<% users_number = users.distinct_users.count %>
<!-- <% user_name = users.distinct_users.first.email  %> -->
<!-- <%= user_name %> -->
<p class="mb-2" style="color: white"><strong><%= users_number + 10 %> people have chosen <%= @venue.name %> tonight</strong></p>
<br>

<div id="description">
  <p class="light"><%= @venue.description %></p>
</div>

<!-- Venue Description / NOT FOR THE MOMENT-->
<!-- <div id="description" class="mt-4">
  <p class="pb-1"><strong>Description</strong></p>
  <p class=""><%= @venue.description %></p>
</div> -->

