<div class="container mt-5 pt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-primary mt-2 mb-2">
        Your plan for tonight:
      </h3>

      <div class="d-flex justify-content-end">
          <%= link_to night_venues_path(@night), class: "btn btn-outline-primary ct-btn-add mt-3" do%>
            <i class="fas fa-plus"></i> Bar
          <% end %>
      </div>

      <% @night.venues.where(venue_type: "bar").each do |venue| %>
          <%= render 'components/cards-summary', venue: venue, night: @night %>
        <% end %>



     <div class="d-flex justify-content-end">
        <%= link_to clubs_night_venues_path(@night), class: "btn btn-outline-primary ct-btn-add mt-3" do%>
          <i class="fas fa-plus"></i> Club
        <% end %>
      </div>
      <% @night.venues.where(venue_type: "club").each do |venue| %>

          <%= render 'components/cards-summary', venue: venue, night: @night  %>
        <% end %>


    <%= link_to 'Continue',night_save_night_path(@night), class: "btn btn-primary btn-block ct-btn ct-shadow ct-round-50 mt-5", 'data-toggle'=> "modal", 'data-target'=>"#exampleModalCenter" %>
    <!-- MODAL -->
    <%= render 'components/modal_summary_page' %>
    </div>
  </div>
</div>





