<div class="container mt-5 pt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-primary mb-2">
        Your plan for the night
      </h3>

      <div class="d-flex justify-content-end">
          <%= link_to night_venues_path(@night), class: "btn btn-outline-primary ct-btn-add mt-3" do%>
            <i class="fas fa-plus"></i> Bar
          <% end %>
      </div>

      <% @night.venues.where(venue_type: "bar").each do |venue| %>
        <%= link_to night_venue_path(@night,venue) do %>
          <%= render 'components/cards-summary', venue: venue, night: @night %>
        <% end %>
      <% end %>


     <div class="d-flex justify-content-end">
        <%= link_to clubs_night_venues_path(@night), class: "btn btn-outline-primary ct-btn-add mt-3" do%>
          <i class="fas fa-plus"></i> Club
        <% end %>
      </div>
      <% @night.venues.where(venue_type: "club").each do |venue| %>
        <%= link_to night_venue_path(@night,venue) do %>
          <%= render 'components/card-index', night: @night, venue: venue  %>
          <%= link_to 'Remove',  venue_delete_night_venue_night_path(@night,venue) %>
          <% if @night.venues.length >= 2 %>
            <p>the distance between from the bar to the club is
            <% x = @night.venues.first%>
            <%= x.distance_to(@night.venues.last).round(1)%>km
            </p>
          <% end %>
        <% end %>
      <% end %>


    <%= link_to 'Continue',night_save_night_path(@night), class: "btn btn-primary btn-block ct-btn ct-shadow ct-round-50 mt-5", 'data-toggle'=> "modal", 'data-target'=>"#exampleModalCenter" %>
    <!-- MODAL -->
    <%= render 'components/modal_summary_page' %>
    </div>
  </div>
</div>



  <!-- Majd's distance code that needs to be incorporated in the code above (under clubs) -->
  <!--  <% if @night.venues.length >= 2 %>
            <p>the distance between the bar and club is
            <% x = @night.venues.first%>
            <%= x.distance_to(@night.venues.last).round(1)%>km
            </p>
          <% end %> -->
