<div class="container">
  <div class="dark">
    <%= render 'components/navbar'%>
  </div>
  <div class="row">
    <div class="col-3 menu">
      <div class="text-center">
        <h1>Welcome <strong><%= @user.first_name %> <%= @user.last_name %>!</strong></h1>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item active" id="info">Account Info</li>
        <li class="list-inline-item" id="listing">Nightouts</li>
        <li class="list-inline-item" id="booking">Favourites</li>
      </ul>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12">
      <div class="hidden content" data-info-type="info">
        <h3>Account Info</h3>
        <div>
          <h4>Email:</h4>
          <p><%= @user.email %></p>
          <h4>Display Name:</h4>
          <p><%= @user.name %></p>
          <%= link_to 'Change Accout Info' %>
          <%= link_to 'Change Password' %>
        </div>
      </div>
      <div class="hidden content" data-info-type="listing">
        <h3> Your listings are: </h3>
        <div class ="cards">
          <% if @listings.present? %>
            <% @listings.each do |listing| %>
              <%= link_to listing_path(listing) do %>
                <%= render 'components/listing-card', listing: listing %>
              <% end %>
            <% end %>
          <% else %>
            <p> Currently, you have no listing! </p>
          <% end %>
        </div>
      </div>
      <div class="hidden content" data-info-type="booking">
        <h3> Your bookings are: </h3>
          <div class ="cards">
              <% if @bookings.present? %>
                <% @bookings.each do |booking| %>
                  <%= render 'components/booking-card', booking: booking %>
                <% end %>
              <% else %>
                <p> Currently, you have no bookings! </p>
            <% end %>
          </div>
      </div>
      <div class="hidden content" data-info-type="saved">
        <h3> Your Saved Listings are: </h3>
        <div class ="cards">
          <%= render 'components/savedlisting-form' %>
        </div>
      </div>
    </div>
  </div>
</div> -->

