<div class="container">
  <div class="row">
    <div class="col-12 menu">
      <div class="text-center">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class:'avatar-large' %>
        <% else %>
          <%= image_tag asset_url('empty-avatar'), class:'avatar-large' %>
        <% end %>
        <p class="bold-lg"><strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
      </div>
      <div class="menu-list d-flex justify-content-between">
        <p class="menu-item active" id="acc-info">Account Info</p>
        <p class="menu-item" id="nightout">Nightouts</p>
        <p class="menu-item" id="favourite">Favourites</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hidden content" data-info-type="acc-info">
          <p class="content-title">Account Info</p>
          <div>
            <p class="bold-lg">Name:</p>
            <p><%= @user.first_name %> <%= @user.last_name %></p>
            <p class="bold-lg">Email:</p>
            <p><%= @user.email %></p>
            <div id="change-links">
              <%= link_to 'Change Accout Info', edit_user_registration_path %>
              <br>
              <%= link_to 'Change Password', edit_user_password_path %>
            </div>
          </div>
        </div>
        <div class="hidden content" data-info-type="nightout">
          <p class="content-title">Your nightouts</p>
          <% if @nightouts.present? %>
            <div class="row">
              <div class="col-12">
                <% @nightouts.each do |nightout| %>
                  <%= link_to nightout_path(nightout) do %>
                    <%= render 'components/card-dashboard', venue: nightout.night_venue.first  %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% else %>
            <p class="mt-2"> Currently, you have no nightout! </p>
          <% end %>
        </div>
<!--         <div class="hidden content" data-info-type="booking">
          <h3> Your bookings are: </h3>
            <div class ="cards">
                <#% if @bookings.present? %>
                  <#% @bookings.each do |booking| %>
                    <#%= render 'components/booking-card', booking: booking %>
                  <#% end %>
                <#% else %>
                  <p> Currently, you have no bookings! </p>
              <#% end %>
            </div>
        </div>
        <div class="hidden content" data-info-type="saved">
          <h3> Your Saved Listings are: </h3>
          <div class ="cards">
            <#%= render 'components/savedlisting-form' %>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

