<div class="container position-absolute mt-5">
  <% if @venues.empty? %>
    <div class="text-center">
      <h3>No Search Results</h3>
      <%= link_to 'Try Another Search', root_path, style:' text-decoration: none' %>
    </div>
  <% else %>
    <h5>2) Choose your club</h5>
    <% if @night.venues.first.present? %>
    <p>Clubs Max.5km far away from <%= @night.venues.first.name %></p>
    <% end %>
    <div class="container mt-5">
      <% @clubs.each do |venue| %>
        <%= link_to night_venue_path(@night, venue) do %>
          <%= render 'components/card-index', venue: venue  %>
          <% if @night.venues.first.present? %>
              <p> <% z = @night.venues.first%>
              <%= z.distance_to(venue.name).round(1) %>km</p>
          <% end %>
        <% end %>

      <!-- FIXED BTN LAYOUT -->
        <div class="">
          <%= link_to night_path(@night), class: "btn btn-primary ct-btn-skip ct-fixed-btn ct-shadow ct-round-50"  do %>
            Skip <i class="fas fa-chevron-right pl-1"></i>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
