<div class="container mt-5">
  <% if @venues.nil? %>
    <div class="text-center">
      <h3 >No Search Results</h3>
      <%= link_to 'Try Another Search', root_path, style:' text-decoration: none' %>
    </div>
  <% else %>
    <div class="cards">
      <% @venues.each do |venue| %>
        <%= link_to venue_path(venue) do %>
          <div class="card-trip border rounded">
            <div class="card-trip-infos">
              <div>
                <h2><%= venue.venue_type %></h2>
                <p><%= venue.name %></p>
              </div>
              <h2 id="listing-card-price" class="card-trip-pricing"><%= venue.price_segment %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
