<div class="container-fluid">

  <!-- SHOWPAGE BTNS -->
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="d-flex align-items-center my-2">
        <%= render 'components/showpage_buttons' %>
      </div>
    </div>
  </div>

  <!-- VENUE CARROUSEL -->
  <div class="row">
    <div class="col-12 p-0">
      <%= render 'components/venue-carrousel' %>
    </div>
  </div>

  <!-- VENUE CONTENT -->
  <div class="row mt-3">
    <div class="col-12">
      <%= render 'components/venue-content' %>
    </div>
  </div>

  <!-- ROW FOR THE REVIEWS COMMENTS -->
  <div class="row mt-5" id="my-reviews">
    <div class="col-12">
    <%= render 'components/review-comment' %>
    </div>
  </div>

  <!-- ROW FOR THE REVIEW FORM -->
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <%= render 'components/review-form' %>
    </div>
  </div>

</div>
