<body class="ct-bg-global">

<div class="container-fluid mt-4 pt-3">

  <!-- SHOWPAGE BTNS -->
  <div class="row pt-5">
    <div class="col-12">
      <div class="d-flex align-items-center my-2">
        <%= render 'components/showpage_buttons' %>
      </div>
    </div>
  </div>

  <!-- VENUE CARROUSEL -->
  <div class="row">
    <div class="col-12 p-0">
      <%= render 'components/venue-carrousel' %>
    </div>
  </div>

  <!-- VENUE CONTENT NOT SHOWING-->
  <div class="row mt-3">
    <div class="col-12">
      <%= render 'components/venue-content' %>
    </div>
  </div>

  <!-- BUTTON ADD-TO-NIGHT -->
  <!-- Do not put a Sticky BTN inside a row/col, or it wont work! -->
  <%= render 'components/bottom-nav' %>


  <div id="my-map-anchor">
    <!-- This empty div is the anchor of the map-->
    <!-- DO NOT REMOVE!-->
  </div>
  <!-- VENUE LOCATION (MAP) -->
  <div class="ct-round-5 mt-5" id="map" style="width: 100%; height: 200px; margin-top: 10px;" data-user-marker="<%= @user_marker.to_json %>" data-venue-marker="<%= @venue_marker.to_json %>" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>



  <div id="my-reviews-anchor">
    <!-- This empty div is the anchor of the reviews-->
    <!-- DO NOT REMOVE!-->
  </div>


  <!-- ROW FOR THE REVIEWS COMMENTS -->
  <!-- <a href="https://www.google.de/maps/plac/SOLAR+Bar+Restaurant+Lounge/@52.5043112,13.3815553,17z/data=!3m1!4b1!4m5!3m4!1s0x47a851cd7ba364d9:0x75cd0b1b529712fc!8m2!3d52.504308!4d13.383744?hl=en&authuser=0" target="_blank">Get your map</a> -->

    <div class="row mt-5">
      <div class="col-12">
      <%= render 'components/review-comment' %>
      </div>
    </div>


  <!-- ROW FOR THE REVIEW FORM -->
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <%= render 'components/review-form' %>
    </div>
  </div>

</div>

</body>
