<div class="container-fluid">

  <!-- SHOWPAGE BTNS -->
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="d-flex align-items-center my-2">
        <%= render 'components/showpage_buttons' %>
      </div>
    </div>
  </div>

  <!-- VENUE CARROUSEL -->
  <div class="row">
    <div class="col-12 p-0">
      <%= render 'components/venue-carrousel' %>
    </div>
  </div>

  <!-- VENUE CONTENT -->
  <div class="row mt-3">
    <div class="col-12">
      <%= render 'components/venue-content' %>
    </div>
  </div>

  <!-- ROW FOR THE REVIEWS COMMENTS -->
  <a href="https://www.google.de/maps/place/SOLAR+Bar+Restaurant+Lounge/@52.5043112,13.3815553,17z/data=!3m1!4b1!4m5!3m4!1s0x47a851cd7ba364d9:0x75cd0b1b529712fc!8m2!3d52.504308!4d13.383744?hl=en&authuser=0" target="_blank">Get your map</a>
  <div class="row mt-5" id="my-reviews">
    <div class="col-12">
    <%= render 'components/review-comment' %>
    </div>
  </div>

  <!-- ROW FOR THE REVIEW FORM -->
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <%= render 'components/review-form' %>
    </div>
  </div>

<br>

  <!-- BUTTON ADD-TO-NIGHT -->
  <%= link_to night_venue_night_path(@night,@venue), method: :patch, class:'btn btn-primary ct-btn btn-block', id:'add-btn' do %>
    <p><strong>Add to Night Out</strong></p>
  <% end %>

</div>
